<!--form autocomplete="off" novalidate class="login-form" [formGroup]="form">
  <fieldset>
    <legend>Login</legend>
    <div form-field>
      <label>Email:</label>
      <input name="email" formControlName="email">
    </div>
     <div form-field>
      <label>Password:</label>
      <input name="password" formControlName="password" type="password">
    </div>
  </fieldset>
  <button class="btn btn-success" (click)="login()">Login</button>
</form-->
<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">

  <title>Login Form</title>
  
  
  <link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Open+Sans:600'>

      

  
</head>

<body>
  <form autocomplete="off" novalidate class="login-form" [formGroup]="form">
  <fieldset>
  <div class="container">
    <div class="row">
        <div class="col-md-offset-5 col-md-3">
            <div class="form-login">
            <h4>Welcome back.</h4>
            <input type="text" id="user" name="email" formControlName="email" class="form-control input-sm chat-input" placeholder="email" />
            <br>
            <input type="password" id="userPassword" data-type="password" name="password" formControlName="password"  class="form-control input-sm chat-input" placeholder="password" />
            <br>
            <div class="wrapper">
            <span class="group-btn">     
            

                <a type="submit" (click)="login()" class="btn btn-primary btn-md"><i class="fa fa-sign-in "></i></a>
            </span>
            </div>
            </div>
        
        </div>
    </div>
</div>
  </fieldset>
 
</form>
  
</body>
</html>
