
  <form >
 <ui-switch  id="on" name="invoice.on" (click)="onOn(invoice.$key,invoice.on)" color="yellow" switchColor="red" size="small" [(ngModel)]="invoice.on"  ></ui-switch>

  </form>

  
  <a 
  [routerLink]="[key]" 
    class="list-group-item clearfix" 
    routerLinkActive="active"
    
>

        
       
         
            <div class="col-xs-12">

              
            <h6 style="color:#00b1b1;">{{invoice?.addDate | date}} |{{invoice.addDate| date:'shortTime'}}</h6>
              <span><p style="font-size:12px; font-weight:bold;">{{invoice?.$key}}</p></span>  
                     <span class=" pull-right "> 
                      
       <img #img name="img" *ngIf="invoice.on"  class="img-responsive" 
         src="{{invoice.depositImg}}"  
             
         
         alt=""/>
  </span> 
            </div>
            <div *ngIf="invoice.on" class="clearfix">
              
<div style="font-size: 11px;" class=" col-xs-8 ">member ID: {{invoice?.memberId}}</div>
     <div class="clearfix"></div>
<div class="bot-border"></div>


<div class="col-xs-8" style="font-size: 11px;">Total Amount: {{ invoice?.totalAmount
                                                                +invoice?.adminFee
                                                                +invoice?.shippingFee                                                              
                                                              }} Dh</div>
  <div class="clearfix"></div>
<div class="bot-border"></div>


<div class="col-xs-8" style="font-size: 11px;">Total Bp: {{invoice?.totalBp}} Bp</div>
  <div class="clearfix"></div>
<div class="bot-border"></div>


<div class="col-xs-8" style="font-size: 11px;">Item Count: {{invoice?.totalQty}}</div>
  <div class="clearfix"></div>
<div class="bot-border"></div>
            </div>
            <hr style="margin:6px 0 6px 0;">
    
              




     


</a>
<form #templateForm="ngForm" *ngIf="invoice.on"
>

<div class="col-xs-12" style="font-size: 11px;">
<label *ngIf="!invoice.pending">Deposit Number: {{invoice.depositNumber}}</label><br>
 <label *ngIf="!invoice.pending" >Deposit Amount :{{invoice.depositAmount}}</label><br>
 <label *ngIf="!invoice.pending" >Deposit Date:{{invoice.depositDate | date:'yMMMd'}}</label>
 <div class="col-xs-4 form-group" 
             style="display: inline-block; width: 220px;">
    <!--label  for="">Invoice Id: {{invoice.invoiceId}}</label-->   
           
   <!--input
  *ngIf="invoice.on"
  id="invoiceId"
  #invoice
  name="invoiceId"
  [(ngModel)]="invoiceId"
  style="color:black"-->  
 <kendo-maskedtextbox #I id="invoiceId" [(ngModel)]="invoice.invoiceId" name="invoice.invoiceId" 
             [includeLiterals]="includeLiterals" [mask]="mask" required>
          </kendo-maskedtextbox>
          <div style="color:red;font-size:14px;" *ngIf="!templateForm.valid">
            Invalid Invoice
          </div>
 <ui-switch  id="checked" name="invoice.checked" (click)="onClick()" color="yellow" switchColor="lightgreen" size="small" [(ngModel)]="invoice.checked"  ></ui-switch>


 </div>
 </div>
  <div class="clearfix"></div>
<div class="bot-border"></div>

</form>
<hr>
