<div class="row">
 

  
  <div class="col-xs-12">
   
    <form 
          id="shopping-list-add" 
          (ngSubmit)="onSubmit(f.value)" 
          
          #f="ngForm">
     
      <div class="row">
        <div class="col-xs-2 form-group" 
             style="display: inline-block; width: 220px;">

          <label for="item-Id">Id</label>
          <!--Kendo AutoComplete-->
        <div class="example-wrapper">
          
              
            <kendo-maskedtextbox
            #input 
            id="item-id" 
            required 
            [ngModel]="item.itemId"
            name="itemId"
            (blur)="codeCheck(input.value)"
            [includeLiterals]="includeLiterals"
            [mask]="mask"
              >
            </kendo-maskedtextbox> 
        
                 <div *ngIf="show" >
  <p>Invalid Code</p>
</div>
          </div>

          <!--input type="text"
          #input  
          id="item-id" 
          required 
          class="form-control"
          [ngModel]="item.itemId"
          name="itemId"
          (blur)="onLeave(input.value)"
        
          (focus)="input.value=null"
           
         
         -->

        </div> 
    
        <div class="col-xs-2 form-group" 
             style="display: inline-block; width:80px;">
              <label for="item-qty">Qty</label>
              <kendo-numerictextbox  style="width:80px"
               #qty 
          id="item-qty" 
         [autoCorrect]="autoCorrect"
          [value]="valueN"
            [min]="min"
         [max]="max"
          [ngModel]="item.qty"
          name="qty" 
          [format]="'n0'"    
         (focus)="isAdd.endabled"
         [disabled]="show"
          (blur)="stockCheck(input.value,qty.value)"
           
              ></kendo-numerictextbox>
              <div *ngIf="showII" >
  <p>Invalid Qty</p>
</div>
          </div>   
          <!--input type="text"
          #qty 
          id="item-qty" 
          required 
          class="form-control"
          [ngModel]="item.qty"
          name="qty" 
          [disabled]="show"
          (blur)="qty.value=null"
          
         
          -->
            <div class="col-xs-2 form-group" 
             style="display: inline-block; width:80px; margin-top:25px; margin-left:10px">
                 <button  #add
          type="submit" 
            
                class="btn btn-info btn-sm" 
             (click)="input.focus()"
                *ngIf="isAdd"
              [disabled]="!f.valid"
              [disabled]="showII"
              
             
            
                >Add</button>
               </div>
      </div>
      <div class="row">
        <div class="col-xs-12">   
       
        <button 
                type="submit" 
                class="btn btn-success btn-xs" 
               
               
                *ngIf="!isAdd"
                [disabled]="!f.valid"
                >Save</button>
          <button type="button"
                 class="btn btn-danger btn-xs"
               
                *ngIf="!isAdd"
                (click)="onDelete()"
                >Delete</button>
          <button type="button"  
                class="btn btn-info btn-xs" 
               
                *ngIf="!isAdd"
                (click)="onClear()"
                >clear</button>
        </div>
      </div>
    
      
    </form>
 <div class="container ">
	<div class="row">
	    <div  class="col-lg-3 col-md-3 col-sm-12 col-xs-12 pull-right">
            <div class="row well profile">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h6><p><strong >Order Total: {{totalAmount}} Dh</strong></p></h6>
                <h6><p >{{totalBp}}: BP Total </p></h6>
                <h6><p>{{totalQty}} : Quantity Total</p></h6>
                <h6><p>Date {{CurrentDate | date : 'shortDate'}}</p></h6>
               <button type="button"  
                class="btn btn-warning btn-xs" 
               
                *ngIf="isAdd"
                (click)="onSave()"
                >Save</button>
                </div>
            </div>    
        </div>
	</div>
</div>

</div>
</div>


