<div class="row">
 
  <div class="pull-right">{{user?.distrId}} | {{user?.name}}</div>
  
  <div class="col-xs-12">
   
    <form 
          id="shopping-list-add" 
          (ngSubmit)="onSubmit(f.value)" 
          
          #f="ngForm">
     
      <div class="row">
        <div class="col-xs-4 form-group" 
             style="display: inline-block; width: 220px;">

          <label for="item-Id">Id</label>
          <!--Kendo AutoComplete-->
        <div class="example-wrapper">
              
              <kendo-autocomplete  #input
               
                  [data]="data"
                  [valueField]="'productId'"
                  [filterable]="true"
                  (filterChange)="handleFilter($event)"
                  [placeholder]="'e.g. 5222'"
                  class="form-control"
                  style="width:200px;"  
                  id="item-id" 
                  class="form-control"
                  [ngModel]="item.itemId"
                  name="itemId"
                 
        
              >
              </kendo-autocomplete>
             
          </div>
<!-- end Kendo-->
          <!--input type="text"
          #input  
          id="item-id" 
          required 
          class="form-control"
          [ngModel]="item.itemId"
          name="itemId"
        
          (keyup.enter)="qty.focus()"
          (focus)="input.value=null"
         
         -->
        </div>   
        <div class="col-xs-4 form-group" 
             style="display: inline-block; width:80px;">
          <label for="item-qty">Qty</label>
          <input type="text"
          #qty 
          id="item-qty" 
          required 
          class="form-control"
          [ngModel]="item.qty"
          name="qty" 
         
          (blur)="qty.value=null"
          (keyup.enter)="qty.value=null"
          >
          </div>     
      </div>
      <div class="row">
        <div class="col-xs-12">   
          <button  #add
          type="submit" 
                class="btn btn-success btn-xs" 
             
                *ngIf="isAdd"
                [disabled]="!f.valid"
            
                >Add</button>
        <button 
                type="submit" 
                class="btn btn-success btn-xs" 
               
               
                *ngIf="!isAdd"
                [disabled]="!f.valid"
                >Save</button>
          <button type="button"
                 class="btn btn-danger btn-xs"
               
                *ngIf="!isAdd"
                (click)="onDelete()"
                >Delete</button>
          <button type="button"  
                class="btn btn-info btn-xs" 
               
                *ngIf="!isAdd"
                (click)="onClear()"
                >clear</button>
        </div>
      </div>
    
      
    </form>
 <div class="container ">
	<div class="row">
	    <div  class="col-lg-3 col-md-3 col-sm-12 col-xs-12 pull-right">
            <div class="row well profile">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h6><p><strong >Order Total: {{totalAmount}} Dh</strong></p></h6>
                <h6><p >{{totalBp}}: BP Total </p></h6>
                <h6><p>{{totalQty}} : Quantity Total</p></h6>
                <h6><p>Date {{CurrentDate | date : 'shortDate'}}</p></h6>
               <button type="button"  
                class="btn btn-warning btn-xs" 
               
                *ngIf="isAdd"
                (click)="onSave()"
                >Save</button>
                </div>
            </div>    
        </div>
	</div>
</div>

</div>
</div>
